* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
body {
    margin:0;

}
#wrapper { /* this wrap is only required to lock the app down and prevent scrolling */
    background-color: #cccccc;
    position:relative;
    overflow:hidden;

    height:300px;
}
